{% extends 'base.html.twig' %}

{% block title %}Welcome at Wild Circus!!!{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}


{% block body %}

    <div class="container">

        <h1 class="my-5">Add a new performer</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
        <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-warning btn-lg my-3">Add performer</button></div>
    {{ form_end(form) }}
    </div>
{% endblock %}